/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Open Sans";
  font-size: 1.2rem;
  color: #393d41;
  text-align: center;
  line-height: 1.65;
}

/* HEADER */
header {
  width: 100%;
  display: block;
  background-color: black;
  padding-block: 40px;
}
header div {
  width: 35%;
  margin-inline: auto;
}
header div > img {
  width: 100%;
}

/* MAIN */

main section .banner {
  background-image: url(../images/banner.jpg);
  padding: 50px;
  background-position: center;
  background-size: cover;
}
h1 {
  font-family: "Montserrat";
  color: #25a2c3;
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5rem;
}
.bannertext p {
  padding-bottom: 40px;
  padding-top: 10px;
}
button {
  border-radius: 4px;
  font-size: 1rem;
  padding: 15px 30px 15px 30px;
  border-style: none;
  background-color: #f04c2f;
  color: white;
  font-family: "Montserrat";
  font-weight: 800;
}

button:hover {
  cursor: pointer;
}

.imageround img {
  width: 50%;
  border-radius: 50%;
}

section h4 {
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  line-height: 1.5;
  font-weight: 800;
  padding-bottom: 20px;
  padding-top: 5px;
}
section .content h4:nth-of-type(1) {
  padding-top: 40px;
}
section .content {
  padding: 25px;
}
section .content p {
  padding-bottom: 5px;
}
section .content p:nth-of-type(4) {
  padding-bottom: 70px;
}

/*RED BOX*/

.garanzia {
  background-color: #e22d0e;
  margin-left: -25px;
  margin-right: -25px;
  color: white;
}
.garanzia h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 25px;
  padding-bottom: 25px;
}
.garanzia p:nth-last-of-type(2) {
  font-style: italic;
  padding-bottom: 25px;
}
.garanzia h3 {
  font-weight: 600;
}
.garanzia p:nth-last-of-type(1) {
  font-size: smaller;
  padding-bottom: 50px;
}

/*ASIDE*/
aside {
  padding: 25px;
  padding-bottom: 75px;
}
aside .asideimg {
  width: 100%;
  margin-top: 50px;
  background-color: white;
  border: 1px solid gray;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
aside .imagein img {
  width: 100%;
}
aside h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #25a2c3;
}
aside p {
  margin-top: 5px;
  margin-bottom: 50px;
}

/*FOOTER*/
footer {
  background-color: #25a2c3;
  color: white;
  padding-bottom: 70px;
}
footer h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;

  padding-top: 25px;
}

footer .contacts {
  padding-block: 40px;
}
footer a {
  color: white;
}

footer .reference {
  border-top: solid 1px white;
  font-size: smaller;
  color: white;
  display: inline;
  padding-top: 23px;
}
